@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

a,
a:hover {
  color: #2c2c2c;
  text-decoration: none;
}

h2,
p,
span {
  color: #2c2c2c;
  margin: 0;
}

.navbar__custom,
.filter__options,
.search-filter .btn,
.search-bar input,
.search-bar input:focus,
.search-result__product {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}

.breadcrumb__custom__settings img,
.filter__options .form-check input,
.filter__options .form-check,
.filter__options img,
.navbar__custom img,
.search-bar img,
.search-filter img {
  cursor: pointer;
}

.default-button {
  background: #696969;
  border-radius: 8px;
  border: 1px solid #696969;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  color: #ffff;
}

.vertical-menu {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.170509);
  padding-left: 35px;
  padding-top: 35px;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.btn-group-vertical {
  align-items: unset;
  width: 80%;
}

.btn-group-vertical .row {
  margin-top: 45px;
}

.btn-group-vertical .btn {
  color: #2c2c2c;
  font-size: 15px;
}

.btn-group-vertical h2 {
  color: #999999;
  font-size: 14px;
  line-height: 36px;
}

.btn-group-vertical button {
  align-items: center;
  display: flex;
}

.btn-group-vertical p {
  margin-left: 8px;
  margin-right: auto;
}

.btn-group-vertical .btn:not(.btn-group-vertical > div:first-child .btn) {
  font-weight: 600;
}

.btn-group-vertical .btn[aria-expanded="true"] {
  background-color: #ececec;
}

.btn-group-vertical .btn[aria-expanded="true"]::after {
  content: url("../src/img/chevron-down.svg");
}

.btn-group-vertical .btn[aria-expanded="false"]::after {
  content: url("../src/img/right-arrow.svg");
}

.dashboard {
  background: #f9f9f9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
  padding: 30px 35px;
}

.navbar__custom {
  align-items: center;
  height: 62px;
}

.navbar__custom img {
  margin-right: 22px;
}

.navbar__custom__options {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}

.navbar__custom__options button {
  background-color: transparent;
  border: none;
  color: #2c2c2c;
  font-size: 14px;
  margin-right: 28px;
  outline: none;
}

.navbar__custom__options span {
  font-size: 11px;
}

.breadcrumb__custom {
  margin: 30px 0 38px 0;
}

.breadcrumb__custom__links {
  font-size: 14px;
  padding: 0;
}

.breadcrumb__custom__links a:first-child {
  font-size: 24px;
}

.breadcrumb__custom__links img {
  margin: 0 10px;
}

.breadcrumb__custom__links a img {
  border-left: 1px solid #979797;
  padding-left: 10px;
}

.breadcrumb__custom__settings {
  display: flex;
  justify-content: flex-end;
}

.filter button {
  padding: 18px 0;
  width: 100%;
}

.filter span,
.filter__options h2 {
  font-size: 18px;
}

.filter__options {
  margin: 20px 0;
  padding: 25px 32px;
}

.filter__options h2 {
  font-weight: 600;
}

.filter__options .form-check {
  display: flex;
  margin-top: 18px;
}

.filter__options .form-check input {
  margin-right: 10px;
}

.filter__options .form-check p {
  margin-left: auto;
}

.filter__options__slider {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  margin: 25px 0;
  padding: 34px 0;
}

.filter__options__slider > div {
  display: flex;
  justify-content: space-between;
}

.filter__options__category,
.filter__options__brand {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 25px;
  padding-bottom: 34px;
}

.filter__options__rating h2 {
  margin-bottom: 18px;
}

.filter__options__rating div {
  display: flex;
  margin-bottom: 15px;
}

.filter__options__rating div p:last-child {
  margin-left: auto;
}

.search-filter {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.search-filter .btn {
  margin-right: 5px;
}

.search-bar img {
  align-self: center;
  position: absolute;
  right: 30px;
  width: 45px;
  height: 20px;
}

.search-bar input,
.search-bar input:focus,
.search-bar input:active {
  border: none;
  outline: none;
  padding: 15px 30px;
}

.search-result > img {
  height: 210px;
  width: 213px;
}

.search-result__product {
  display: flex;
  margin-top: 28px;
}

.search-result__product > img {
  padding: 20px 23px 20px 0;
}

.search-result__product h2 {
  font-size: 16px;
}

.search-result__product span {
  font-size: 12px;
}

.search-result__product p {
  font-size: 14px;
}

.search-result__product__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-result__product__description p {
  margin-top: 22px;
}

.search-result__product__options {
  align-items: center;
  border-left: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 75px;
  padding-left: 20px;
  width: 100%;
}

.search-result__product__options > img {
  align-self: end;
}

.search-result__product__options p {
  align-items: center;
  color: #999999;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.search-result__product__options p img,
.search-result__product__options button img {
  margin-right: 10px;
}

.search-result__product__options > * {
  margin-bottom: 10px;
}

.search-result__product__options button {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.search-result__product__options__button {
  background: #ededed;
  border: none;
  border-radius: 8px;
}

.pagination__custom {
  justify-content: center;
  margin-top: 110px;
}

.pagination__custom img {
  height: 40px;
}

.pagination__custom nav {
  width: auto;
}

.pagination {
  align-items: center;
  background: #ededed;
  border-radius: 20px;
}

.page-link {
  background-color: transparent;
  border: none;
  color: #2c2c2c;
}

.page-item.active .page-link {
  background-color: #686868;
  border-color: #686868;
  color: #ffff;
}
