@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

a,
a:hover {
  color: #2c2c2c;
  text-decoration: none;
}

h2,
p {
  color: #2c2c2c;
  margin: 0;
}

.vertical-menu {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.170509);
  padding-left: 35px;
  padding-top: 35px;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.btn-group-vertical {
  align-items: unset;
  width: 80%;
}

.btn-group-vertical .row {
  margin-top: 45px;
}

.btn-group-vertical .btn {
  color: #2c2c2c;
  font-size: 15px;
}

.btn-group-vertical h2 {
  color: #999999;
  font-size: 14px;
  line-height: 36px;
}

.btn-group-vertical button {
  align-items: center;
  display: flex;
}

.btn-group-vertical p {
  margin-left: 8px;
  margin-right: auto;
}

.btn-group-vertical .btn:not(.btn-group-vertical > div:first-child .btn) {
  font-weight: 600;
}

.btn-group-vertical .btn[aria-expanded="true"] {
  background-color: #ececec;
}

.btn-group-vertical .btn[aria-expanded="true"]::after {
  content: url("../src/img/chevron-down.svg");
}

.btn-group-vertical .btn[aria-expanded="false"]::after {
  content: url("../src/img/right-arrow.svg");
}

.dashboard {
  background: #f9f9f9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
  padding: 30px 35px;
}

.navbar__custom {
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  height: 62px;
}

.navbar__custom img {
  cursor: pointer;
  margin-right: 22px;
}

.navbar__custom__options {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}

.navbar__custom__options button {
  background-color: transparent;
  border: none;
  color: #2c2c2c;
  font-size: 14px;
  margin-right: 28px;
  outline: none;
}

.navbar__custom__options span {
  font-size: 11px;
}

.breadcrumb__custom {
  margin: 30px 0 38px 0;
}

.breadcrumb__custom__links {
  font-size: 14px;
  padding: 0;
}

.breadcrumb__custom__links a:first-child {
  font-size: 24px;
}

.breadcrumb__custom__links img {
  margin: 0 10px;
}

.breadcrumb__custom__links a img {
  border-left: 1px solid #979797;
  padding-left: 10px;
}

.breadcrumb__custom__settings {
  display: flex;
  justify-content: flex-end;
}

.breadcrumb__custom__settings img {
  cursor: pointer;
}

.filter span,
.filter__options h2 {
  font-size: 18px;
}

.filter__options {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  margin: 20px 0;
  padding: 25px 32px;
}

.filter__options h2 {
  font-weight: 600;
}

.filter__options .form-check {
  display: flex;
  margin-top: 18px;
}

.filter__options .form-check input {
  margin-right: 10px;
}

.filter__options .form-check p {
  margin-left: auto;
}

.filter__options__slider {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  margin: 25px 0;
  padding: 34px 0;
}

.filter__options__slider > div {
  display: flex;
  justify-content: space-between;
}

.filter__options__category,
.filter__options__brand {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 25px;
  padding-bottom: 34px;
}

.filter__options__rating h2 {
  margin-bottom: 18px;
}

.filter__options__rating div {
  display: flex;
  margin-bottom: 15px;
}

.filter__options__rating div p:last-child {
  margin-left: auto;
}

.default-button {
  background: #696969;
  border-radius: 8px;
  border: 1px solid #696969;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  color: #ffff;
  height: 56px;
  width: 100%;
}
